.swiper {
  width: 100%;
  height: auto;
  max-height: 641px;
  margin-top: auto;
}

.swiperSlideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiperPaginationBullet {
  background-color: var(--light-gray);
  opacity: 1;
}

.swiperPaginationBulletActive {
  background-color: var(--primary);
}

.carouselContent {
  position: absolute;
  top: 20%;
  left: 100px;
  z-index: 10;
  max-width: 800px;
  color: #fff;
  margin-top: 150px;
}

.highlightText {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  color: orange;
  text-shadow: 1px 1px 4px rgba(253, 252, 252, 0.6);
}

.title {
  font-size: 60px;
  font-weight: 800;
  margin: 10px 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.paragraph {
  font-size: 16px;
  color: var(--light-gray-3);
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.carouselButton {
  position: absolute;
  bottom: 60px;
  left: 60px;
  z-index: 10;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carouselButton:hover {
  background-color: var(--tertiary);
}
