.optionGroup {
  margin-bottom: 20px;
}

.optionTitle {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.sizeOptions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sizeButton {
  padding: 10px 18px;
  border: 1px solid var(--medium-gray);
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.sizeButton:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Alteração aqui para o estado ativo */
.sizeButton.active {
  background-color: #C92071; /* rosa forte */
  color: #fff;
  border-color: black; /* borda preta */
}
