.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.imagem {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f9f9f9;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  color: #333;
}

.card p {
  position: relative;
  font-size: 16px;
  margin: 5px 0 10px;
  color: #000;
  font-weight: 700;
}

.card p::before {
  content: "R$ ";
}

/* Adiciona o preço original riscado */
.card p::after {
  content: "$200";
  position: absolute;
  left: 0;
  top: -20px;
  color: #9e9e9e;
  font-weight: 400;
  text-decoration: line-through;
  font-size: 14px;
}

.botao {
  background-color: transparent;
  color: #333;
  text-decoration: none;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  display: none; /* Oculta o botão já que não aparece na imagem */
}

/* Estilo para a categoria "Tênis" */
.card::after {
  content: "Tênis";
  display: block;
  color: #9e9e9e;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estilo para a etiqueta de desconto */
.card::before {
  content: "30% OFF";
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e8ff54;
  color: #333;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
}