.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.imagem {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: white;
  padding: 20px;
}

.card h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0 15px 5px;
  color: #333;
}

.card p {
  font-size: 16px;
  margin: 0;
  padding: 0 15px 5px;
  color: #000;
  font-weight: 600;
}

.botao {
  display: none;
}

/* Estilo para a categoria */
.card::after {
  content: "Tênis";
  display: block;
  color: #9e9e9e;
  font-size: 14px;
  padding: 0 15px 15px;
}

/* Estilo para o preço original */
.card h3::after {
  content: "$200";
  display: block;
  color: #9e9e9e;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
  margin-top: 5px;
}

/* Estilo para a etiqueta de desconto */
.card::before {
  content: "30% OFF";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e8ff54;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
}

/* Adiciona o nome do produto no topo */
.imagem::before {
  content: "V8 - Masculino";
  position: absolute;
  top: 10px;
  left: 110px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}