.breadcrumbs {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}

.breadcrumbs li a {
  color: var(--dark-gray);
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
}

.breadcrumbs li a:hover {
  color: var(--primary-color);
}

/* Novo estilo para o último item (ativo) */
.activeLink {
  color: var(--primary-color); /* Mesma cor do seu exemplo original para o último item */
  font-weight: 500;
  white-space: nowrap;
}


.separator {
  margin: 0 8px;
  font-size: 0.7rem;
  color: var(--medium-gray);
}